// Media query breakpoints
$break-xs: 320px;
$break-sm: 414px;
$break-md: 768px;
$break-lg: 1024px;
$break-xl: 1280px;
$break-xxl: 1440px;

// Colors
$primaryColor: #FFFFFF;
$secondaryColor: #268286;
$tertiaryColor: #242424;

